<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Node JS</title>
  </head>
  <body>
    <header>
      <span>Node <em>&</em> Express</span>
      <nav>
        <a href="/"> Main page</a>
        <a href="/about"> About us</a>
      </nav>
    </header>
    <main>
      <h1>Error</h1>
      <p>Upppsss... Such a page does not exist. Return to main page</p>
    </main>
    <a href="/"> Main page</a>
  </body>
</html>
