<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Node JS</title>
    <style>
      body {
        color: white;
        background: #333;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Error</h1>
    <p>Upppsss... Such a page does not exist. Return to main page</p>
    <a href="/"> Main page</a>
  </body>
</html>
