<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node JS</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include ("blocks/header") -%>

    <main>
      <h1>About us page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, ipsum eos. Aspernatur labore eligendi
        nesciunt, libero corporis dolore laudantium tenetur aperiam ipsum facilis nostrum! Facere doloremque vitae quia
        quos nesciunt.
      </p>
    </main>
  </body>
</html>
