<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node JS</title>
    <style>
      body {
        color: white;
        background: #333;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Main page</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus optio veritatis reiciendis maiores voluptatem,
      mollitia esse tenetur delectus praesentium id hic quaerat sunt culpa, a veniam magni natus ad ratione!
    </p>
    <a href="/about"> Aboun us</a>
  </body>
</html>
