<header>
  <span>Node <em>&</em> Express</span>
  <nav>
    <a href="/"> Main page</a>
    <a href="/about"> About us</a>
  </nav>
  <form>
    <input type="text" placeholder="username" />
    <button>Find...</button>
  </form>
</header>
